*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

p{
    line-height: 30px;
}

ul{
    line-height: 30px;
    
}


#cabecalho{
    background-color: burlywood;
    height: 100vh; /*!!!! os argumentos em funcao de vh e vw forcam as dimensoes totais !!!!*/
    padding: 0 24px;
    position: relative;

    /* METODO 2 DE ALINHAMENTO VERTICAL DO TITULO*/
    /* display: flex;
    flex-wrap: wrap;
    align-content: center; */
}

.petshop{
    /* METODO 1 DE ALINHAMENTO VERTICAL DO TITULO*/
    position: absolute; /* posicionado de acordo com os limites do container do header*/
    top: 50%;
    transform: translateY(-50%);
    /* background-color: brown; */
    padding: 0;

}

.petshop .subtitulo{
    font-size: 30px;
    color: rgb(106, 9, 147);
    text-shadow: #000 0.5px 0.5px 0.5px;

}

.petshop .titulo{
    font-size: 60px;
    color: rgb(106, 9, 147);
    text-shadow: black 1px 1px 1px;

}

.imagem{
    background-image: url("salsichinha.png");
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: right;
   
    width: 35vw;
    height: 40vh;
    /* background-color: goldenrod; */

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
 
} 

.main{
    background-color: burlywood;
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    padding-bottom: 100px;
}


.artigo{
    background-color: white;
    margin: auto; /* centraliza automaticamente*/
    padding: 2%;
    width: 60vw;
    padding-bottom: 50px;
}


.artigo .imagem2{
    background-image: url("hotdog2.jpeg");
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: top;

    width: 50vw;
    height: 49vh;
    margin: auto;
    margin-bottom: 8px;

}

.artigo h2{
    font-size: 30px;
}

.artigo p{
    margin: 10px;
}

.artigo ul{
    margin: 10px 30px;
}


.video{
    width: 600px;
    height: 315px;
    display: block;
    margin: auto;
    margin-top: 25px; 
    margin-bottom: 20px;

}


.rodape{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;

    color: white
}

.rodape h4{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
}

.rodape a{
    color: rgb(65, 172, 229);
}